# Configuration file

~CONFIG_VERSION: 0.1.0

world-1063866977 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1560467042 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@mekanism
    B:overlayEnabled=true
}


world-1600582850 {
    # Отображает список закладок рядом с открытыми интерфейсами.
    B:bookmarkOverlayEnabled=true

    # Даёт предметы вместо отображения рецепта.
    B:cheatItemsEnabled=false

    # Скрывает и раскрывает ингредиенты путём нажатием по нему в списке ингредиентов.
    B:editEnabled=false
    S:filterText=

    # Отображает список ингредиентов рядом с открытыми интерфейсами.
    B:overlayEnabled=true
}


world-1848562889 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-337996214 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-464159799 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@compa
    B:overlayEnabled=true
}


world1205464327 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@mekanism
    B:overlayEnabled=true
}


world127644227 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=армиро
    B:overlayEnabled=true
}


world1279511237 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world151383671 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1527784400 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world501124840 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@refined
    B:overlayEnabled=true
}


